services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: peticoes
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"  # porta do host opcional
  api:
    build: .
    container_name: peticoes-api
    restart: unless-stopped
    env_file: .env
    ports:
      - "3001:3001"
    volumes:
      - ./app:/app/app
      - ./scripts:/app/scripts
      - ./storage:/app/storage
      - ./.env:/app/.env:ro
    depends_on:
      - db

volumes:
  db_data:
